# The CODEOWNERS file is a list of patterns and owners, where the last matching
# pattern is used.

# --- Global Defaults ---

# Set a default owner for everything in the repository. This owner will be
# requested for review for any changes not matched by a more specific pattern.
* @tgowan-endor


# Security Champions Team are responsible for appropriate implementation of security controls
.github @security-champions
.cursor/rules/ @security-champions

# Endor Solutions Architecture team owns the logic in src/
src @endor-solutions-architecture

# Endor Technical Documentation owns documentation
docs @tech-docs